/* ------------------------Responsive Design------------------------------- */
@media (max-width: 768px) {
  .hero {
    padding-top: 40px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .description {
    width: 400px;
    font-size: 0.9rem;
  }

  .button {
    padding: 10px 20px;
    font-size: 0.95rem;
    gap: 10px;
  }

  .button svg {
    width: 18px;
    height: 18px;
  }

  .connect-btn-wrapper {
    margin: 16px 0 30px;
  }

  .logo-track {
    width: 100%;
  }

  .project-card {
    padding: 30px 20px;
  }

  .custom-skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    padding-top: 30px;
  }

  .skill-card {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    cursor: default;
    transition: transform 0.3s ease, background 0.5s ease,
    border-color 0.5s ease;
  }

  .skill-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
  }
  
  .social-bar {
    gap: 15px;
    padding: 15px;
  }

  .social-item {
    width: 50px;
    height: 50px;
  }

  .social-item svg {
    width: 30px;
    height: 30px;
  }

  .social-bar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-title {
    font-size: 1.8rem;
    margin-bottom: 40px;
  }

  .project-card {
    padding: 20px;
  }

  .project-title {
    font-size: 18px;
  }

  .project-description {
    font-size: 14px;
  }

  .project-year {
    font-size: 12px;
  }

  .projects {
    padding: 40px 20px;
  }

  .about-me,
  .skills,
  .social-bar {
    padding: 25px;
  }

  .footer {
    padding: 30px 0;
  }
}

/* Responsive design */
@media (max-width: 480px) {
  .hero {
    padding-top: 40px;
  }

  .button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .button svg {
    width: 16px;
    height: 16px;
  }

  .connect-btn-wrapper {
    margin-bottom: 0px;
  }

  .button-container {
    flex-direction: column;
    gap: 0;
  }

  .logos {
    width: 100%;
    margin-top: 30px;
  }

  .custom-skill-grid {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 30px;
    justify-items: center;
    padding-top: 30px;
  }

  .skill-card {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
    cursor: default;
    transition: transform 0.3s ease, background 0.5s ease, border-color 0.5s ease;
  }

  .skill-text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
  }

  .social-bar {
    gap: 15px;
    padding: 15px;
  }

  .social-item {
    width: 50px;
    height: 50px;
  }

  .social-item svg {
    width: 30px;
    height: 30px;
  }

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .project-title {
    font-size: 16px;
  }

  .project-description {
    font-size: 13px;
  }

  .project-year {
    font-size: 11px;
  }

  .project-card {
    padding: 15px;
  }

  .projects,
  .about-me,
  .skills,
  .social-bar {
    padding: 30px 15px;
  }

  .follow-text {
    display: flex;
    gap:1px;
    text-align: center;
    height: 30px;
  }

  .footer {
    padding: 20px 0;
  }
}